@font-face {
    font-family: "OpenSans";
    src:
        url('OpenSans.woff2') format('woff2'), /* Super Modern Browsers */
        url('OpenSans.woff') format('woff'), /* Pretty Modern Browsers */
        url('OpenSans.eot') format('embedded-opentype'), /* IE6-IE11 */
        url('OpenSans.ttf') format('truetype'), /* Safari, Android, iOS */
        url('OpenSans.svg') format('svg'); /* Legacy iOS */
}

@media screen and (prefers-reduced-motion: reduce) {  
    * {
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.001ms !important;
    }
}

/*High contrast*/
@media (prefers-contrast: high) {
    body {
        background-color: var(--high-contrast);
    }
}

/*For touchscreen devices that can't hover*/
@media (hover: none) {
    canvas {
        opacity: 1;
    }
    form button {
        opacity: 1;
    }
}
@media (pointer: coarse) {
    canvas {
        opacity: 1;
    }
    form button {
        opacity: 1;
    }
}

/* Work in progress
@media screen and (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark-theme);
        color: var(--high-contrast)
    }
} */

:root {
    --title-color: blue;
    --high-contrast: white;
    --dark-theme: black;
}

body {
    background-color: #B2E2FD;
    font-family: 'OpenSans', Arial, sans-serif;
}

span > i {
    font-size: 0.1em;
    vertical-align: text-top;
}

nav {
    display: grid;
    grid: 'links links button';
    height: 2em;
    margin-bottom: 5vh;
}

nav button {
    grid-area: button;
}

nav ul {
    padding: 0;
    display: grid;
    grid: 1em / auto auto auto;
    grid-area: links;
}

nav ul li {
    text-align: center;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.app {
    color: var(--title-color);
}

ul {
    list-style-type: none;
    
}

ul a {
    text-decoration: none;
    color: black;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    width: 100%;
    overflow: hidden;
    animation: slide-right 2s;
}

@keyframes slide-right {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0%;
    }
}

h1 span {
    padding-left: 1vw;
    font-size: 3rem;
    transition: all 2s;
}

h1 span:hover {
    font-size: 3em;
}

article {
    text-align: center;
}

svg :hover {
    transform: skew(0deg, -2deg)
    scale(1.1)
    translateY(-1vh)
}

form button {
    opacity: 0;
    transition-timing-function: ease-in;
    transition: all 0.2s;
}

form:hover button {
    opacity: 1;
}

canvas {
    opacity: 0;
    transition: all 1s;
}

.experimental:hover #canvas {
    opacity: 1;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5vh;
}

.card section:nth-of-type(1){
    text-align: left;
    padding-left: 10vw;
}

.card section:nth-of-type(2){
    text-align: right;
    padding-right: 10vw;
}

.card section:nth-of-type(3){
    text-align: left;
    padding-left: 10vw;
}

ol {
    list-style: inside;
}

@media screen and (max-width: 1000px) and (min-width: 350px) {

    h1 {
        font-size: 5vh;
    }

    h1 span {
        font-size: 6vh;
    }

    .card section:nth-of-type(1){
        text-align: center;
        padding-left: 0;
    }
    
    .card section:nth-of-type(2){
        text-align: center;
        padding-right: 0;
    }
    
    .card section:nth-of-type(3){
        text-align: center;
        padding-left: 0;
    }
}

@media screen and (min-width: 1000px) {
    h1 {
        font-size: 6vh;
    }
    h1 span {
        font-size: 7vh;
    }

    article {
        font-size: 2vh;
    }
}

@media screen and (max-width: 1300px) {
    canvas {
        opacity: 1;
    }
    form button {
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        position: absolute;
        scale: 5;
        margin-top: 2%;
        margin-left: 88%;
    }
    main {
        margin-top: 5vh;
    }
    nav {
        display: none;
    }
}